name: ci-test

on:
  pull_request:
    branches: [main]

jobs:
  ci-test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: yarn

      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn build

      - name: Test
        run: |
          yarn test
